name: Auto Content Factory

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate_voice:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install gTTS moviepy numpy pillow

      - name: Run Main
        run: python main.py
